.project-container {
    width: 80%;
    /* opacity: 0;
    transition: 1s;
    visibility: hidden; */
}

.project-container h2 {
    font-size: 35px;
}

/* .project-container.show {
    visibility: visible;
    opacity: 1;
} */

.row {
    display: flex;
}

.row > * {
    margin: 20px;
}