.title-container {
    margin: 80px;
    width: 530px;
    font-size: 38px;
    font-weight: 700; 
}
  
.Typist .Cursor {
    display: inline-block; 
}

.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s cubic-bezier(0.075, 0.82, 0.165, 1) infinite; 
}

@keyframes blink {
    0% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    } 
}
  