.main {
    margin: 80px;
    display: flex;
    flex-direction: column;
    font-family: "ROBOTO", sans-serif;
}

.row {
    flex-direction: row;
    justify-content: space-around;
}

.empty-container {
    width: 600px;
}